<!DOCTYPE html>
<html lang="en">
<head>
  <title>Finger On The Pulse</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>

<!-- Header -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <img class="w3-image" src="static/Images/Pulse2.jpg" alt="Me" width="800" height="50">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">Finger On The Pulse</h1>
    <h3 class="w3-hide-medium w3-hide-small">How Are You Doing?</h3>
  </div>
  
 <!-- Navbar (placed at the bottom of the header image) Page Hrefs are local placeholders. Change to Relative once fully implemented -->
 <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">
  <a href="Homepage.html#Tool" class="w3-bar-item w3-button">Tool</a>
  <a href="Homepage.html#Information" class="w3-bar-item w3-button">Information</a>
  <a href="Model.html" class="w3-bar-item w3-button">Model Information</a>
</div>
</header>

<!-- Navbar on small screens -->
<div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar w3-light-grey">
  <a href="Homepage.html#Tool" class="w3-bar-item w3-button">Tool</a>
  <a href="Homepage.html#Information" class="w3-bar-item w3-button">Information</a>
  <a href="Model.html" class="w3-bar-item w3-button">Model Information</a>
</div>
</div>
<!-- Page content -->
<div class="w3-content w3-padding-large w3-margin-top" id="Tool">

<!-- User Input For Information Section -->
  <div class="w3-light-grey w3-padding-large w3-padding-32 w3-margin-top" id="Query">
    <h3 class="w3-center">Your Information</h3>
    <hr>
    <p>Blah Blah Blah. Information and what not. Im thinking a general background here or something</p>

    <form action="Results.html" target="_blank">
      <div class="w3-section">
        <label>Gender</label>
        <input class="w3-input w3-border" type="text" required name="Gender" placeholder="Gender">
      </div>
      <div class="w3-section">
        <label>Age</label>
        <input class="w3-input w3-border" type="text" required name="Age" placeholder="How Old Are You?">
      </div>
      <div class="w3-section">
        <label>Caffine (MG)</label>
        <input class="w3-input w3-border" type="text" required name="Caffine" placeholder="Coffee Drinker?">
      </div>
      <div class="w3-section">
        <label>Systolic: Blood pressure mm Hg</label>
        <input class="w3-input w3-border" type="text" required name="Systolic" placeholder="Blood Pressure?">
      </div>
      <div class="w3-section">
        <label>Direct HDL-Cholesterol (mg/dL)</label>
        <input class="w3-input w3-border" type="text" required name="Cholesterol" placeholder="Cholesterol Levels">
      </div>
      <div class="w3-section">
        <label>Avg Drinks per Day</label>
        <input class="w3-input w3-border" type="text" required name="Drinks" placeholder="Drinker?">
      </div>
      <div class="w3-section">
        <label>Smoker?</label>
        <input class="w3-input w3-border" type="text" required name="Smoker" placeholder="Smoking Habits">
      </div>
      <button type="submit" value="Save" id="Save" class="w3-button w3-block w3-dark-grey">Submit</button>
    </form><br>
    
  </div>

  <!--More Info Holder-->
  <div class="w3-light-grey w3-padding-large w3-padding-32 w3-margin-top" id="Information">
    <h3 class="w3-center">Place Holder For Style</h3>
    <hr>
    <p>More Style Stuff</p>
    <p>Powered by <a href="https://cdn.theatlantic.com/thumbor/LfyfTHNgco_iQq3tYU9YiG3tmF4=/359x322:3254x1950/720x405/https://cdn.theatlantic.com/assets/media/img/mt/2019/05/RTX1D61Q/original.jpg" target="_blank" class="w3-hover-text-green">THE GRADUATES!</a></p>
  </div>

<!-- End page content -->
</div>

</body>
</html>
